.footer {
  background-color:#f2ede6;
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
 
}
.footerInner {
  max-width: 1200px;
  margin: 0 auto;
  list-style-type: none;

}

.linkList {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;

}

.linkItem {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.subLinkList { 
  list-style-type: none;
}
.subLinkItem { 
  list-style-type: none;
}
.socialMediaContainer { 
display: flex;
flex-direction: column;
}

/*  grid-template-rows: max-content max-content min-content max-content;
    justify-content: stretch;*/